.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(55, 52, 56, 0.5)), url("../../images/library-img.jpg") center/cover no-repeat;
    flex-direction: column;
    background-attachment: fixed;
}
.header-title{
    font-size: 4.2rem;
    text-shadow: 3px 3px 2px black;
}
.header-text{
    text-shadow: 3px 3px 2px black;
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}